@import '../../../../../shared/scss/generatedVariables';
@import '../../../../../shared/scss/variableMapping';

$border-box-sizing: false;

// Typography
$avenir: 'Avenir LT W01_65 Medium1475532', Arial, sans-serif;
$avenir-black: 'Avenir LT W01_95 Black1475556', Arial, sans-serif;
$avenir-light: Avenir, Arial, sans-serif;
$base-font-family: 'sans-serif';
$heading-font-family: $avenir;
$heading-font-family-2: $avenir-black;

// Font Sizes
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: 18px;
$base-z-index: 0;
$content-max-width: 1200px;
$content-max-width-xl: 1600px;

$desktop-padding: 2.35765%;

// DT Colors
$dt-black: #000;
$dt-dark-gray: #222;
$dt-dark-gray-blue: #282a2b;
$dt-medium-gray: #67696b;
$dt-medium-dark-gray: #393c3e;
$dt-medium-light-gray: #bbb;
$dt-race-red: #d92e2d;
$dt-blue: #3483de;
$dt-light-medium-gray: #f4f4f4;
$dt-light-gray: #fafafa;
$dt-nav-light-gray: #e3e3e3;
$dt-warning-yellow: #ffa10d;
$dt-filter-red: #f6f4f4;
$dt-light-orange: #ffbd55;

// primary colors
$dt-red: #ed1c24;
$dark-gray: #333;
$medium-dark-gray: #424242;
$medium-gray: #666;
$hover-gray: #575757;
$medium-light-gray: #999;
$utility-gray: #5a5a5a;
$light-gray: #eaeaea;
$white: #fff;
$enough-light-gray: #f5f5f5;

// secondary colors
$blue: #00aeef;
$green: #39894b;
$medium-green: #52a240;
$bright-green: #46ba2b;
$yellow: #e5d62a;
$orange: #ffa10d;
$medium-green-alt: #51a240;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$primary-font-color: $dt-dark-gray;
$action-color: $blue;

// Border
$base-border-color: #eeeeee;
$medium-border-color: #cdcdcd;
$base-border: 1px solid $base-border-color;
$border-gray: #d2d2d2;
$border-fit-unsure: 1px solid $orange;
$border-fit: 1px solid $medium-green;
$border-not-fit: 1px solid $dt-red;
$border-fitment: 2px solid $light-gray;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow,
    0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$tab-height: 50px;

//Links
$link-primary: $medium-gray;
$link-secondary: $medium-light-gray;
$link-tertiary: $dt-red;
$link-quaternary: $dark-gray;
$link-highlight: $blue;

//Badge Background
$badge-bg-color: $green;

//message bar background
$message-bar-sucess: $bright-green;
$message-bar-alert: $orange;
$message-bar-warning: $dt-red;

$global-message-bg: $light-gray;
$global-message-box-shadow: $medium-light-gray;
$message-warning-color: $dt-red;
$message-alert-color: $orange;
$message-general-color: $green;

$global-message-font-color: $medium-light-gray;
$global-message-font-size: 1rem;
$global-message-family: $avenir;

$product-promotion-color: #446cce;
//GBB icon color
$GBB-good: $medium-light-gray;
$GBB-better: $blue;
$GBB-best: $bright-green;
$facet-bg-color: #f6f4f4;
//paypal button corlor
$btn-paypal: #ffc439;

// Foundation by ZURB
// foundation.zurb.com
// Licensed under MIT Open Source

// This is the default html and body font-size for the base rem value.
$rem-base: 16px !default;

@function rem($size) {
    $basePxSize: 16;
    $remSize: $size / $basePxSize;
    @return #{$remSize}rem;
}

// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.
$modules: () !default;
@mixin exports($name) {
    @if (index($modules, $name) == false) {
        $modules: append($modules, $name);
        @content;
    }
}
